<h1>ルーム詳細</h1>

<table class="container show">
  <tr>
    <th>ルーム名</th>
    <td><%= @room.room_name %></td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= @room.room_price %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @room.room_address %></td>
  </tr>
  <tr>
    <th>ルームの特徴</th>
    <td><%= @room.room_content %></td>
  </tr>
  <tr>
    <th>ルーム画像</th>
    <td> <img src=<%= @room.image %> class="room_image" ></td>
  </tr>
  <tr>
    <th>予約する</th>
    <td>  <%= link_to "予約する", new_room_reservation_path(@room) ,class: "btn-font" %></td>
  </tr>
</table>
