<div class="container show">
    <div class="show-detail">
        <div class="show-image">
          <img src=<%= @room.image %> class="room_image" >
        </div>
        <div class="show-profile">
            <div class="show-name">
                <p><%= @room.room_name %></p>
                <p><%= @room.room_price %></p>
                 <p><%= @room.room_address %></p>
                 <p><%= @room.room_content %></p>
            </div>
        </div>
        <button class="show-btn create-btn">
            <%= link_to "予約する", new_room_reservation_path(@room) ,class: "btn-font" %>
        </button>
    </div> 
</div>
